<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e28886</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="icon" href="favicon.png" />
  </head>
  <body>
    <header>
      <h2><a href="/">e28886</a></h2>
      <p>Research Paper Logger</p>
      <nav>
        <a href="/login">Log In</a>
      </nav>
    </header>

    <main>
      <% errors.forEach(error => { %>
      <blockquote><%= error %></blockquote>
      <% }) %>
      <form action="/register" method="POST">
        <fieldset>
          <legend>Create an account</legend>

          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="username"
            autocomplete="off"
            required
          />
          <br />

          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            autocomplete="off"
            required
          />
          <br />

          <button type="submit">Register</button>
        </fieldset>
      </form>
    </main>
  </body>
</html>
