<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e28886 &mdash; Log In</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="icon" href="favicon.png" />
  </head>
  <body>
    <header>
      <h2><a href="/">e28886</a></h2>
      <p>Research Paper Logger</p>
      <nav>
        <a href="/login">Log In</a>
      </nav>
    </header>

    <main>
      <h1>Log In Page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
        eveniet suscipit corrupti ipsa. Obcaecati deserunt deleniti quas
        adipisci tempore. Earum molestiae enim dolor dolorem cupiditate
        consectetur sed quia illum iste.
      </p>
    </main>
  </body>
</html>
